@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer utilities {
  

  .glass-effect {
    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.8);
    @apply backdrop-filter backdrop-blur-lg
  }

  .glass-effect-nav {
    background-color: rgba(255, 255, 255, 0.2);
    /* border: 1px solid rgba(107, 107, 107, 0.5); */
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    @apply backdrop-filter backdrop-blur-lg
  }
} 

  

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-blue-500 text-white p-2 rounded my-1 hover:bg-blue-700;
  }

  .icom-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-blue-500;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }

  .active-icon {
    box-shadow: 0 5px 10px rgba(154,160,185,.05);
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-20 w-20 m-0
    transition-all duration-300 ease-in-out;
}

.sidebar-tooltip {
    @apply absolute w-auto p-2 m-5 min-w-max left-16
    rounded-md shadow-sm shadow-neutral-700 text-white bg-slate-700 
    text-xs font-bold transition-all duration-100 scale-0 origin-left;
}

.sidebox {
    opacity: 0;
    @apply relative flex bg-white h-1 w-3/4 rounded-r-2xl shadow-2xl;
}

.studymode {
    background-image: url('imgs/e54008fec896ec085da559cf537d6f32.gif');
    background-size: cover;
    background-position: center;
  }

} 
